* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #E5FAFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #030A10;
}

ul {
  list-style: none;
}

.description {
  font-family: cursive;
}

.html {
  font-size: 1.2rem;
}

.css {
  font-size: 1.8rem;
}

.js strong{
  font-size: 2rem;
}